#album-art {
  position: relative;
  margin-top: 10vh;
  margin-left: 10vw;
  width: min(45vw, 80vh) !important;
  border-radius: 50px;
  height: auto;
  aspect-ratio: 1;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  z-index: 2;
  box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 0.5);
}

#background-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#app-background {
  position: absolute;
  inset: -20%;
  width: max(130vw, 130vh);
  height: max(130vw, 130vh);
  filter: blur(10px) saturate(2) brightness(0.9);
  transform: scale(1.2);
  will-change: transform;
}

@keyframes float {
  0% {
    transform: translate(-10%, -10%) scale(1.25);
  }
  100% {
    transform: translate(10%, 10%) scale(1.2);
  }
}

@keyframes subtle-rotate {
  0% {
    transform: rotate(0deg) scale(1.22);
  }
  100% {
    transform: rotate(360deg) scale(1.22);
  }
}

#app-background {
  animation:
    float 1s ease-in-out infinite alternate,
    subtle-rotate 40s linear infinite;
}

#track-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10vw;
}

#mini-controls {
  padding: 1vh 0px;
  margin-top: 2vh;
  margin-right: 2vw;
  text-align-last: center;
  opacity: 0;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

#mini-controls:hover {
  opacity: 1;
}

#mini-controls button {
  font-size: 7vw;
  aspect-ratio: 1 !important;
  margin-left: 8px;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

#mini-player {
  position: relative;
  margin-top: 13vh;
  margin-left: 2vw;
  max-width: 52vw !important;
}

#track-title {
  font-size: 8vw;
  font-weight: 900;

  line-height: 0.9;
  margin: none;
  overflow: visible;
}

#track-artist,
#track-album {
  font-size: 3vw;
  color: white;
  font-weight: 700;
  line-height: 0.9;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: visible;
}

#track-album {
  -webkit-line-clamp: 2;
  font-size: 2.5vw;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
