/* Register the custom property so it can animate */
@property --backgroundColor {
  syntax: '<color>';
  inherits: false;
  initial-value: #333;
}

#app {
  display: block;
  height: 100vh;
  width: 100vw;

  --backgroundColor: var(--bg-2);
  background: linear-gradient(to bottom left, var(--backgroundColor), var(--bg-1));
  transition: --backgroundColor 0.15s ease-out;

  overflow-y: scroll;
  overflow-x: hidden;
}


.container {
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.header {
    justify-content: center;
    align-items: center;
    text-align-last: center;
    margin-bottom: 20px;
}
.album-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}
.field {
    margin-bottom: 10px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: var(--bg-1);
    color: #ddd;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.track-list {
    margin-top: 20px;
}
.track {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--bg-2);
}
.track:last-child {
    border-bottom: none;
}
.track-title {
    min-width: 70%;
    padding: 10px 7px;
}
#track-rating {
    max-width: 100px;
    min-width: 60px;
    margin-right: 10px;
}
.track-actions {
    display: flex;
    gap: 5px;
}
button {
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    background-color: var(--bg-1);
    color: var(--textSubColor);
    transition: background-color 0.2s;
}
button.danger {
    background-color: var(--notificationErrorColor);
    color: var(--trackItemOddColor);
}
button.danger:hover {
    background-color: var(--notificationErrorColor);
}
button.add {
    background-color: var(--notificationCorrectColor);
    color: var(--trackItemOddColor);
}
button.add:hover {
    background-color: var(--notificationCorrectColor);
}
.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.hidden {
    display: none;
}
.track-move {
    cursor: pointer;
    margin-right: 10px;
    padding: 2px 5px;
    background: var(--bg-1);
    border-radius: 3px;
}
