.spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid var(--spinnerBgColor);
    border-radius: 50%;
    border-top: 4px solid var(--spinnerColor);
    animation: spin 1s cubic-bezier(0.4, 0.7, 0.7, 1.6) infinite;
    cursor: pointer;
    justify-self: center;
    transform: rotate(0deg);
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.slider {
    width: 80%; /* Make slider full width of the card */
    height: 8px;
    border-radius: 10px;
    outline: none;
    appearance: none;
    cursor: pointer;
    --slider-value: 100%;
    --slider-color: var(--activeColor);
    --slider-thumb-color: var(--textColor);
    --slider-background-color: var(--sliderBgColor);
    transform: translateY(0px);
}

/* WebKit browsers (Chrome, Safari) */
.slider::-webkit-slider-runnable-track {
    background: linear-gradient(
        to right,
        var(--slider-color) 0%,
        var(--slider-color) var(--slider-value),
        var(--slider-background-color) var(--slider-value),
        var(--slider-background-color) 100%
    );
    height: 8px;
    border-radius: 10px;
}

/* WebKit browsers: Thumb styling */
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--slider-thumb-color); /* Use the new variable */
    cursor: pointer;
    margin-top: -4px;
}

/* Firefox browsers */
.slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--slider-thumb-color); /* Use the new variable */
    cursor: pointer;
    border: none;
}

/* Firefox: Track with left part (before the thumb) colored dynamically */
.slider::-moz-range-track {
    background: linear-gradient(
        to right,
        var(--slider-color) 0%,
        var(--slider-color) var(--slider-value),
        var(--slider-background-color) var(--slider-value),
        var(--slider-background-color) 100%
    );
    height: 8px;
    border-radius: 10px;
}
