body,
html {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-1);
  color: var(--textColor);
  overflow: hidden;
}

.window-controls {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: all;
  -webkit-app-region: no-drag;
  height: 13px;
  display: flex;
  gap: 7px;
  justify-content: center;
}

.window-controls button {
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 13px;
  background: transparent;
  color: transparent;
  cursor: pointer;
  transition: all 0.1s;
}

#close-btn {
  background-color: red;
}

#min-btn {
  background-color: yellow;
}

#max-btn {
  background-color: green;
}

#loading {
  position: absolute;
  bottom: 100px;
  left: 105px;
  text-align: right;
  z-index: 30;
}

/* Register the custom property so it can animate */
@property --backgroundColor {
  syntax: "<color>";
  inherits: false;
  initial-value: #333;
}

#app {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 100px;
  height: 100vh;

  --backgroundColor: var(--bg-2);
  background: linear-gradient(
    to bottom left,
    var(--backgroundColor),
    var(--bg-1)
  );
  transition: --backgroundColor 0.15s ease-out;
}

#sidebar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px !important;
  border-radius: 10px;
  grid-column: 1;
  grid-row: 1;
  background-color: var(--sidebarColor);
  padding: 10px;
  height: calc(100vh - 20px);
  backdrop-filter: blur(10px);
  border: 2px solid var(--bg-2);
  display: flex;
  padding: 16px;
  flex-direction: column;
  z-index: 20;
  -webkit-app-region: drag;
  overflow: hidden;
}

nav ul {
  list-style: none;
}

#now-playing-small {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: calc(100% - 16px);
  aspect-ratio: 1;
  align-items: center;
}

.img {
  background-color: var(--bg-2);
  border: none;
  background-size: cover;
  background-position: center;
}

#now-playing-art-small {
  height: 100%;
  width: 100%;
  background-color: var(--bg-2);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

#main-content {
  grid-column: 2;
  grid-row: 1;
  overflow-y: auto;
  padding: 20px;
  position: absolute;
  left: 95px;
  width: calc(100vw - 100px);
  height: 100vh;
  -webkit-app-region: drag;
}

#player-controls {
  position: absolute;
  grid-column: 1 / span 2;
  grid-row: 2;
  bottom: 0;
  border-radius: 10px;
  height: 80px !important;
  overflow: hidden;
  left: 100px;
  bottom: 10px;
  width: calc(100vw - 110px);
  background-color: var(--sidebarColor);
  backdrop-filter: blur(10px);
  border: 2px solid var(--bg-2);
  padding: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-app-region: drag;
  z-index: 20;
}

#now-playing {
  width: 30vw;
  display: flex;
  align-items: center;
}

#now-playing-title-wrapper {
  max-width: 30vw;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-bottom: 5px;
}

#now-playing-title {
  display: inline-block;
  font-weight: bold;
  white-space: nowrap;
}

#now-playing-title span {
  display: inline-block;
  padding-right: 20px; /* spacing between repeats */
}

#now-playing-artist-wrapper {
  max-width: 30vw;
  overflow: hidden; /* viewport */
  white-space: nowrap;
  position: relative;
  margin-bottom: 5px;
}

#now-playing-artist {
  display: inline-block;
  white-space: nowrap;
  font-size: 0.9em;
  color: var(--textSubColor);
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  -webkit-app-region: no-drag;
}

#controls button {
  background: none;
  border: none;
  color: var(--textColor);
  font-size: 1.5em;
  cursor: pointer;
  padding: 10px;
  max-width: 150px;
  transition:
    transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
    color 0.1s ease-in;
}

#play-pause-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--activeColor);
  color: var(--ControlsBtnsColor) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
    color 0.1s ease-in;
}

#play-pause-button:hover {
  color: var(--textSubColor);
  transform: scale(1.2);
}

#play-pause-button:active {
  transform: scale(1);
}

#prev-button {
  transition:
    transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
    color 0.1s ease-in;
  color: var(--textColor);
}

#prev-button:hover {
  color: var(--ControlsBtnsColor);
  transform: scale(1.2);
}

#prev-button:active {
  transform: scale(1);
}

#next-button {
  transition:
    transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
    color 0.1s ease-in;
  color: var(--textColor);
}

#next-button:hover {
  color: var(--ControlsBtnsColor);
  transform: scale(1.2);
}

#next-button:active {
  transform: scale(1);
}

#progress {
  flex: 10;
  display: flex;
  align-items: center;
  margin: 0 20px;
  -webkit-app-region: no-drag;
}

#current-time,
#total-time {
  font-size: 0.8em;
  width: 40px;
  text-align: center;
}

#progress-bar {
  flex: 1;
  height: 5px;
  background-color: var(--sliderBgColor);
  border-radius: 10px;
  min-width: 6vw;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}

#progress-filled {
  height: 100%;
  background-color: var(--activeColor);
  border-radius: 10px;
  width: 0;
}

#volume-controls {
  display: flex;
  align-items: center;
  min-width: 6vw !important;
  max-width: 150px !important;
  -webkit-app-region: no-drag;
}

#mute-button {
  background: none;
  border: none;
  color: var(--textColor);
  cursor: pointer;
  font-size: 1.2em;
  margin-right: 10px;
  pointer-events: all !important;
  width: 1rem;
  height: 1rem;
  -webkit-app-region: no-drag;
}

#volume-slider {
  flex: 1;
  height: 5px;
  background-color: var(--sliderBgColor);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

#volume-filled {
  height: 100%;
  background-color: var(--activeColor);
  border-radius: 10px;
  width: 70%;
}

.album-card {
  background-color: var(--sidebarColor);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  overflow: hidden;
  transition:
    transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 3),
    background-color 0.2s ease-in;
  cursor: pointer;
}

.album-card:hover {
  background-color: var(--trackItemOnHover);
  transform: translateY(-10px);
  transition: transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2);
}

.album-cover {
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  background-color: var(--bg-2);
}

.album-info {
  padding: 15px;
}

.album-title {
  font-weight: 600;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-artist {
  font-size: 0.9em;
  color: var(--textSubColor);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#albums-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.content-section.hidden {
  display: none;
}

#player-container {
  height: 100%;
}

#player-container.hidden {
  display: none;
}

#library-container {
  height: 100%;
  pointer-events: all;
}

#library-container.hidden {
  display: none;
}

.album-card {
  -webkit-app-region: no-drag;
}

#player-header {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0px 10px;
  background-color: var(--sidebarColor);
  border-radius: 10px;
  border: 1px solid var(--bg-2);
  transition:
    transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
    color 0.1s ease-in;
  font-size: 1em;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-app-region: no-drag;
}

#player-header:hover {
  transform: scale(1.05);
}

#back-button {
  background: none;
  border: none;
  font-size: 1em;
  padding: 5px;
  color: var(--textSubColor);
  cursor: pointer;
  transition:
    transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
    color 0.1s ease-in;
}

#back-button:hover {
  color: var(--activeColor);
  transform: scale(1.05);
}

#edit-button {
  background: none;
  border: none;
  font-size: 1em;
  padding: 5px;
  color: var(--textSubColor);
  cursor: pointer;
  transition:
    transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
    color 0.1s ease-in;
}

#edit-button:hover {
  color: var(--activeColor);
  transform: scale(1.05);
}

#favourite-button {
  background: none;
  border: none;
  font-size: 1em;
  padding: 5px;
  color: var(--textSubColor);
  cursor: pointer;
  transition:
    transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
    color 0.1s ease-in;
}

#favourite-button:hover {
  color: var(--activeColor);
  transform: scale(1.05);
}

#album-details {
  display: flex;
  margin-bottom: 30px;
}

#album-art-container {
  width: 300px;
  height: 300px;
  margin-right: 30px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  z-index: 1;
}

#album-art {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  pointer-events: all;
}

#album-back-art {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 310px;
  height: 310px;
  object-fit: cover;
  border-radius: 50%;
  filter: blur(50px) saturate(1.4);
  pointer-events: none;
  z-index: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: spinning50Translate 10s linear infinite;
}

@keyframes spinning50Translate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#album-info {
  flex: 1;
}

#album-title {
  font-weight: 900;
  font-size: 6em;
  line-height: 0.9;
  margin-bottom: 10px;
  -webkit-app-region: no-drag;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#album-artist {
  font-size: 1.5em;
  color: var(--activeColor);
  margin-bottom: 20px;
  -webkit-app-region: no-drag;
}

#album-meta {
  margin-bottom: 20px;
  color: var(--textSubColor);
  -webkit-app-region: no-drag;
}

#album-year,
#album-genre {
  margin-right: 15px;
  -webkit-app-region: no-drag;
}

#album-description {
  line-height: 1.6;
  max-width: 600px;
  -webkit-app-region: no-drag;
}

#track-list {
  border: var(--bg-2) solid 1px;
  border-radius: 10px;
  overflow-y: hidden;
  width: 100%;
  -webkit-app-region: no-drag;
}

#buffer {
  height: 105px; /* gives 15px of buffer */
}

.track-item {
  margin: 0px;
  margin-top: 0;

  display: flex;
  align-items: center;
  background-color: var(--trackItemColor);
  padding: 15px;

  transition: background-color 0.1s ease-in; /* this is used when hover ends */
}

.odd-color {
  background-color: var(--trackItemOddColor);
}

.track-item:hover {
  background-color: var(--trackItemOnHover);
  transition: none; /* instant change when hover starts */
}

.track-item.active {
  color: var(--activeColor);
}

.track-number {
  width: 30px;
  text-align: left;
  cursor: pointer;
}

.track-title {
  flex: 1;
  padding: 0;
}

.track-duration {
  width: 50px;
  text-align: right;
  color: var(--textSubColor);
}

#favourite-button {
  margin-left: -10px;
  padding-left: 0px;
  padding-right: 10px;
}

#favourite-button:active {
  transform: scale(0.9);
}

.star-wrapper {
  position: relative;
  width: 1rem;
  height: 1rem;
}

.star {
  width: 100%;
  height: 100%;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
  position: absolute;
  pointer-events: none;
}

.hidden {
  opacity: 0;
  transition: none;
}

.visible {
  opacity: 1;
}

.favourites-container {
  position: absolute;
  height: auto;
  max-height: calc(100vh - 120px);
  top: 30px;
  left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.favourite-item {
  height: 55px;
  aspect-ratio: 1 !important;
  margin: 5px 0;
  border-radius: 4px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  pointer-events: all;
  cursor: pointer;
  -webkit-app-region: no-drag;
  background-color: var(--bg-2);
}

/* small visual hints for drag & drop */
.favourite-item.dragging {
  opacity: 0.5;
  transform: scale(0.98);
  transition:
    transform 0.12s ease,
    opacity 0.12s ease;
}

.favourite-item.placeholder {
  outline: 2px dashed rgba(0, 0, 0, 0.08);
}
