body,
html {
    height: 100%;
    background-color: var(--bg-1);
    color: var(--textColor);
    overflow: hidden;
}

#loading {
    position: absolute;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    bottom: 100px;
    left: 105px;
    height: 40px;
    width: 40px;
    text-align: right;
    z-index: 30;
}

/* Register the custom property so it can animate */
@property --backgroundColor {
    syntax: "<color>";
    inherits: false;
    initial-value: #333;
}

#app {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 100px;
    height: 100vh;

    --backgroundColor: var(--bg-2);
    background: linear-gradient(
        to bottom left,
        var(--backgroundColor),
        var(--bg-1)
    );
    transition: --backgroundColor 0.15s ease-out;
}

#sidebar {
    position: absolute;
    width: 80px;
    margin: 10px;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 1;
    background-color: var(--sidebarColor);
    padding: 20px;
    height: calc(100vh - 20px);
    backdrop-filter: blur(10px);
    border: 2px solid var(--bg-2);
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 20;
    -webkit-app-region: drag;
}

nav ul {
    list-style: none;
}

#now-playing-small {
    position: absolute;
    bottom: 10px;
    margin-top: auto;
    display: flex;
    align-items: center;
    margin-left: -1px;
}

.img {
    background-color: var(--bg-2);
    border: none;
    background-size: cover;
    background-position: center;
}

#now-playing-art-small {
    width: 60px;
    height: 60px;
    background-color: var(--bg-2);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

#main-content {
    grid-column: 2;
    grid-row: 1;
    overflow-y: auto;
    padding: 20px;
    position: absolute;
    left: 95px;
    width: calc(100vw - 100px);
    height: 100vh;
}

#player-controls {
    position: absolute;
    grid-column: 1 / span 2;
    grid-row: 2;
    bottom: 0;
    border-radius: 10px;
    height: 80px;
    left: 90px;
    width: calc(100vw - 110px);
    background-color: var(--sidebarColor);
    backdrop-filter: blur(10px);
    border: 2px solid var(--bg-2);
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    -webkit-app-region: drag;
    z-index: 20;
}

#now-playing {
    width: 30vw;
    display: flex;
    align-items: center;
}

#now-playing-title-wrapper {
    max-width: 30vw;
    overflow: hidden; /* viewport */
    white-space: nowrap;
    position: relative;
    margin-bottom: 5px;
}

#now-playing-title {
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
}

#now-playing-title span {
    display: inline-block;
    padding-right: 20px; /* spacing between repeats */
}

#now-playing-artist-wrapper {
    max-width: 30vw;
    overflow: hidden; /* viewport */
    white-space: nowrap;
    position: relative;
    margin-bottom: 5px;
}

#now-playing-artist {
    display: inline-block;
    white-space: nowrap;
    font-size: 0.9em;
    color: var(--textSubColor);
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    -webkit-app-region: no-drag;
}

#controls button {
    background: none;
    border: none;
    color: var(--textColor);
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px;
    max-width: 150px;
    transition:
        transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
        color 0.1s ease-in;
}

#play-pause-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--activeColor);
    color: var(--ControlsBtnsColor) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
        color 0.1s ease-in;
}

#play-pause-button:hover {
    color: var(--textSubColor);
    transform: scale(1.2);
}

#play-pause-button:active {
    transform: scale(1);
}

#prev-button {
    transition:
        transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
        color 0.1s ease-in;
    color: var(--textColor);
}

#prev-button:hover {
    color: var(--ControlsBtnsColor);
    transform: scale(1.2);
}

#prev-button:active {
    transform: scale(1);
}

#next-button {
    transition:
        transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
        color 0.1s ease-in;
    color: var(--textColor);
}

#next-button:hover {
    color: var(--ControlsBtnsColor);
    transform: scale(1.2);
}

#next-button:active {
    transform: scale(1);
}

#progress {
    flex: 10;
    display: flex;
    align-items: center;
    margin: 0 20px;
    -webkit-app-region: no-drag;
}

#current-time,
#total-time {
    font-size: 0.8em;
    width: 40px;
    text-align: center;
}

#progress-bar {
    flex: 1;
    height: 5px;
    background-color: var(--sliderBgColor);
    border-radius: 10px;
    min-width: 6vw;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}

#progress-filled {
    height: 100%;
    background-color: var(--activeColor);
    border-radius: 10px;
    width: 0;
}

#volume-controls {
    display: flex;
    align-items: center;
    min-width: 6vw !important;
    max-width: 150px !important;
    -webkit-app-region: no-drag;
}

#mute-button {
    background: none;
    border: none;
    color: var(--textColor);
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 10px;
}

#volume-slider {
    flex: 1;
    height: 5px;
    background-color: var(--sliderBgColor);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

#volume-filled {
    height: 100%;
    background-color: var(--activeColor);
    border-radius: 10px;
    width: 70%;
}

.album-card {
    background-color: var(--sidebarColor);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    overflow: hidden;
    transition:
        transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 3),
        background-color 0.2s ease-in;
    cursor: pointer;
}

.album-card:hover {
    background-color: var(--trackItemOnHover);
    transform: translateY(-10px);
    transition: transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2);
}

.album-cover {
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    background-color: var(--bg-2);
}

.album-info {
    padding: 15px;
}

.album-title {
    font-weight: 600;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-artist {
    font-size: 0.9em;
    color: var(--textSubColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#albums-section,
#singles-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.content-section.hidden {
    display: none;
}

#player-container {
    height: 100%;
    -webkit-app-region: no-drag;
}

#player-container.hidden {
    display: none;
}

#library-container {
    height: 100%;
    -webkit-app-region: no-drag;
}

#library-container.hidden {
    display: none;
}

#player-header {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px 10px;
    background-color: var(--sidebarColor);
    border-radius: 10px;
    border: 1px solid var(--bg-2);
    transition:
        transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
        color 0.1s ease-in;
    font-size: 1em;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#player-header:hover {
    transform: scale(1.05);
}

#back-button {
    background: none;
    border: none;
    font-size: 1em;
    padding: 5px;
    color: var(--textSubColor);
    cursor: pointer;
    transition:
        transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
        color 0.1s ease-in;
}

#back-button:hover {
    color: var(--activeColor);
    transform: scale(1.05);
}

#edit-button {
    background: none;
    border: none;
    font-size: 1em;
    padding: 5px;
    color: var(--textSubColor);
    cursor: pointer;
    transition:
        transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
        color 0.1s ease-in;
}

#edit-button:hover {
    color: var(--activeColor);
    transform: scale(1.05);
}

#favourite-button {
    background: none;
    border: none;
    font-size: 1em;
    padding: 5px;
    color: var(--textSubColor);
    cursor: pointer;
    transition:
        transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2),
        color 0.1s ease-in;
}

#favourite-button:hover {
    color: var(--activeColor);
    transform: scale(1.05);
}

#album-details {
    display: flex;
    margin-bottom: 30px;
}

#album-art-container {
    width: 300px;
    height: 300px;
    margin-right: 30px;
    cursor: pointer;
}

#album-art {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    pointer-events: all;
}

#album-info {
    flex: 1;
}

#album-title {
    font-weight: 900;
    font-size: 6em;
    margin-bottom: 10px;
}

#album-artist {
    font-size: 1.5em;
    color: var(--activeColor);
    margin-bottom: 20px;
}

#album-meta {
    margin-bottom: 20px;
    color: var(--textSubColor);
}

#album-year,
#album-genre {
    margin-right: 15px;
}

#album-description {
    line-height: 1.6;
    max-width: 600px;
}

#track-list {
    border: var(--bg-2) solid 1px;
    border-radius: 10px;
    overflow-y: hidden;
    width: 100%;
}

#buffer {
    height: 105px; /* gives 15px of buffer */
}

.track-item {
    margin: 0px;
    margin-top: 0;

    display: flex;
    align-items: center;
    background-color: var(--trackItemColor);
    border-radius: 0px;
    padding: 15px;

    transition: background-color 0.1s ease-in; /* this is used when hover ends */
}

.odd-color {
    background-color: var(--trackItemOddColor);
}

.track-item:hover {
    background-color: var(--trackItemOnHover);
    transition: none; /* instant change when hover starts */
}

.track-item.active {
    color: var(--activeColor);
}

.track-number {
    width: 30px;
    text-align: left;
}

.track-title {
    flex: 1;
    padding: 0;
}

.track-duration {
    width: 50px;
    text-align: right;
    color: var(--textSubColor);
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    background: var(--notificationBgColor);
    border: 4px solid var(--notaficationBorderColor);
    color: var(--textColor);
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    transition: all 0.2s ease;
    z-index: 100;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(250px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(250px);
    }
}

.fade-in {
    animation: fadeIn 0.2s ease;
}

.fade-out {
    animation: fadeOut 0.2s ease;
}

.success {
    background: var(--notificationCorrectColor);
}
.warning {
    background: var(--notificationWarningColor);
}
.error {
    background: var(--notificationErrorColor);
}
