* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}



/* Root mode */
:root {
  --activeColor: #66cf20;
  --bg-1: #121212;
  --bg-2: #333333;
  --ControlsBtnsColor: rgb(187, 187, 187);
  --notaficationBorderColor: rgb(102, 102, 102);
  --notificationBgColor: rgb(85, 85, 85);
  --notificationCorrectColor: rgb(29, 185, 84);
  --notificationErrorColor: rgb(231, 76, 60);
  --notificationWarningColor: rgb(222, 222, 24);
  --sidebarColor: rgba(24, 24, 24, 0.7);
  --sliderBgColor: rgb(90, 90, 90);
  --spinnerBgColor: rgba(255, 255, 255, 0.302);
  --spinnerColor: rgb(255, 255, 255);
  --textColor: rgb(245, 245, 245);
  --textSubColor: rgb(170, 170, 170);
  --trackItemColor: rgb(34, 34, 34);
  --trackItemOddColor: rgb(29, 29, 29);
  --trackItemOnHover: rgb(40, 40, 40);
}


/* Atom mode */
[theme="atom"] {
  --activeColor: #64b828;
  --bg-1: #282c34;
  --bg-2: #21252b;
  --ControlsBtnsColor: #61afef;
  --notaficationBorderColor: #61afef;
  --notificationBgColor: #282c34;
  --notificationCorrectColor: #98c379;
  --notificationErrorColor: #e06c75;
  --notificationWarningColor: #e5c07b;
  --sidebarColor: rgb(33, 37, 43, 0.7);
  --sliderBgColor: #5c6370;
  --spinnerBgColor: rgba(97, 175, 239, 0.2);
  --spinnerColor: #61afef;
  --textColor: #d5e0f3;
  --textSubColor: #3560b1;
  --trackItemColor: #282c34;
  --trackItemOddColor: #23272e;
  --trackItemOnHover: #2c313a;
}


/* Dracula mode */
[theme="dracula"] {
  --activeColor: #32c814;
  --bg-1: #282a36;
  --bg-2: #44475a;
  --ControlsBtnsColor: #bd93f9;
  --notaficationBorderColor: #bd93f9;
  --notificationBgColor: #44475a;
  --notificationCorrectColor: #50fa7b;
  --notificationErrorColor: #ff5555;
  --notificationWarningColor: #f1fa8c;
  --sidebarColor: rgb(40, 42, 54, 0.7);
  --sliderBgColor: #6272a4;
  --spinnerBgColor: rgba(189, 147, 249, 0.2);
  --spinnerColor: #bd93f9;
  --textColor: #f8f8f2;
  --textSubColor: #6272a4;
  --trackItemColor: #44475a;
  --trackItemOddColor: #44475c;
  --trackItemOnHover: #3f4250;
}


/* Light mode */
[theme="light"] {
  --activeColor: #1db954;
  --bg-1: #f5f5f5;
  --bg-2: #ffffff;
  --ControlsBtnsColor: #333333;
  --notaficationBorderColor: #cccccc;
  --notificationBgColor: #e0e0e0;
  --notificationCorrectColor: #1db954;
  --notificationErrorColor: #e74c3c;
  --notificationWarningColor: #eedd18;
  --sidebarColor: rgba(237, 237, 237, 0.7);
  --sliderBgColor: #cccccc;
  --spinnerBgColor: rgba(0, 0, 0, 0.15);
  --spinnerColor: #222222;
  --textColor: #222222;
  --textSubColor: #888888;
  --trackItemColor: #f3f3f3;
  --trackItemOddColor: #eaeaea;
  --trackItemOnHover: #e0e0e0;
}
