/* Tooltip base style */
.custom-tooltip {
  position: absolute;
  background: var(--sidebarColor);
  color: var(--textColor);
  backdrop-filter: blur(2px);
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, 24px);
  transition:
    opacity 0.2s ease,
    transform 0.15s ease;
  z-index: 9999;
}
.custom-tooltip.show {
  opacity: 1;
  transform: translate(-50%, -12px);
}

.status {
  font-weight: 400;
  margin: 0;
  opacity: 0.8;
  font-size: 0.9rem;
}

.virtual-cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--sidebarColor);
  border: 2px solid var(--textColor);
  pointer-events: none;
  z-index: 9999;
}

/* remove scrollbar cause they're terrible and shouldn't exist. */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--trackItemOnHover);
  border: 1px solid var(--ControlsBtnsColor);
  color: transparent;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  margin: 10px;
  transition: all 0.07s ease-out;
}

/* Change the background color when checkbox is checked */
input[type="checkbox"]:checked {
  background-color: var(--activeColor);
}

/* Add a check mark when checked */
input[type="checkbox"]:checked::after {
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
