#albums-section {
    border-radius: 10px;
    height: auto;
    display: block;
    overflow-y: hidden;
    border: 2px solid var(--bg-2);
}

.album-card {
    border-radius: 0;
    height: 10vh;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(0px);
    -webkit-app-region: no-drag;
    display: flex;
}

.album-card:hover {
    transform: translateY(-5px);
}

.album-cover {
    border-radius: 5px;
    height: 10vh;
    width: auto;
    aspect-ratio: 1;
    z-index: 0;
}
