#player-container {
  display: flex;
}

#album-back-art {
  width: 100px;
  height: 100px;
}

#album-art-container {
  width: 350px;
  height: 350px;
  margin: 0;
}

#album-details {
  display: block;
  margin-right: 15px;
  margin-top: 40px;
}

#album-title {
  font-size: 3rem;
}

#album-artist {
  text-align-last: center;
  margin: 0;
}

#album-meta {
  text-align-last: center;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
}

#album-genre {
  margin-right: 0px;
}

#more-album-details {
  position: absolute;
  bottom: 95px;
  left: 15px;
  width: 365px;
}

#track-list {
  display: block;
  margin-top: 40px;
  height: auto;
  min-height: 0;
  max-height: calc(100% - 80px - 40px);
  overflow-y: scroll;
  background: var(--trackItemColor);
}

#track-list:has(.track-item:nth-child(odd)) {
  background: var(--trackItemOddColor);
}

#album-info {
  margin-top: 10px;
}
